.detail {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  .container-loved {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container-loved input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
  }
  .loved {
      font-size: 20px;
  }
  .description {
      height: 45vh;
      overflow-y: auto;
  }
  .button-buy {
    background: transparent;
    border-radius: 5px;
    width: 90px;
  }
  .container-product {
    margin-top: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: solid 2px $grey;
    height: 150px;
    display: flex;
    .product-list {
      img {
        width: 30%;
      }
    }
    .back {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 30px;
    }
    .share {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
      }
  }
}
