.home {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  .title {
    font-size: 16px;
  }
  &__search-container {
    height: 85%;
    overflow-y: auto;
    .content-search {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: 150px;
      display: flex;
      .product {
        cursor: pointer;
        img {
          width: 70%;
        }
      }
    }
    .content-search:hover {
      background: darken( white, 1% );
    }
  }
  .products {
    height: 65%;
    overflow-y: auto;
    .container {
      width: 100%;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      border: solid 2px $grey;
      height: 150px;
      display: flex;
      .loved {
        position: absolute;
        bottom: 8px;
        left: 10px;
        font-size: 30px;
      }
      .product-list {
        img {
          width: 30%;
        }
      }
    }
    .container:hover {
      background: darken( white, 1% );
      cursor: pointer;
    }
  }
  .fa-heart {
    font-size: 30px;
    width: 7%;
    cursor: pointer;
  }
  .search {
    width: 95%;
    .search-icon {
      position: absolute;
      bottom: 8px;
      left: 12%;
    }
    .input-search {
      border-radius: 15px;
      padding-left: 30px;
      font-size: 12px;
    }
  }
  .categories {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    height: 70px;
    img {
      width: 50px;
    }
  }
}
