// wrapper
.wrapper {
  border: solid 3px $grey;
  border-radius: 5px;
  width: 40vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

// margin top
.margin-top-10 {
  margin-top: 50px;
}
.margin-top-9 {
  margin-top: 45px;
}
.margin-top-8 {
  margin-top: 40px;
}
.margin-top-7 {
  margin-top: 35px;
}
.margin-top-6 {
  margin-top: 30px;
}
.margin-top-5 {
  margin-top: 25px;
}
.margin-top-4 {
  margin-top: 20px;
}
.margin-top-3 {
  margin-top: 15px;
}
.margin-top-2 {
  margin-top: 10px;
}
.margin-top-1 {
  margin-top: 5px;
}

// margin bottom
.margin-bottom-10 {
  margin-bottom: 50px;
}
.margin-bottom-9 {
  margin-bottom: 45px;
}
.margin-bottom-8 {
  margin-bottom: 40px;
}
.margin-bottom-7 {
  margin-bottom: 35px;
}
.margin-bottom-6 {
  margin-bottom: 30px;
}
.margin-bottom-5 {
  margin-bottom: 25px;
}
.margin-bottom-4 {
  margin-bottom: 20px;
}
.margin-bottom-3 {
  margin-bottom: 15px;
}
.margin-bottom-2 {
  margin-top: 10px;
}
.margin-bottom-1 {
  margin-bottom: 5px;
}

// margin left
.margin-left-10 {
  margin-left: 50px;
}
.margin-left-9 {
  margin-left: 45px;
}
.margin-left-8 {
  margin-left: 40px;
}
.margin-left-7 {
  margin-left: 35px;
}
.margin-left-6 {
  margin-left: 30px;
}
.margin-left-5 {
  margin-left: 25px;
}
.margin-left-4 {
  margin-left: 20px;
}
.margin-left-3 {
  margin-left: 15px;
}
.margin-left-2 {
  margin-left: 10px;
}
.margin-left-1 {
  margin-left: 5px;
}

// margin right
.margin-right-10 {
  margin-right: 50px;
}
.margin-right-9 {
  margin-right: 45px;
}
.margin-right-8 {
  margin-right: 40px;
}
.margin-right-7 {
  margin-right: 35px;
}
.margin-right-6 {
  margin-right: 30px;
}
.margin-right-5 {
  margin-right: 25px;
}
.margin-right-4 {
  margin-right: 20px;
}
.margin-right-3 {
  margin-right: 15px;
}
.margin-right-2 {
  margin-right: 10px;
}
.margin-right-1 {
  margin-bottom: 5px;
}

// padding top
.padding-top-10 {
  padding-top: 50px;
}
.padding-top-9 {
  padding-top: 45px;
}
.padding-top-8 {
  padding-top: 40px;
}
.padding-top-7 {
  padding-top: 35px;
}
.padding-top-6 {
  padding-top: 30px;
}
.padding-top-5 {
  padding-top: 25px;
}
.padding-top-4 {
  padding-top: 20px;
}
.padding-top-3 {
  padding-top: 15px;
}
.padding-top-2 {
  padding-top: 10px;
}
.padding-top-1 {
  padding-top: 5px;
}

// padding bottom
.padding-bottom-10 {
  padding-bottom: 50px;
}
.padding-bottom-9 {
  padding-bottom: 45px;
}
.padding-bottom-8 {
  padding-bottom: 40px;
}
.padding-bottom-7 {
  padding-bottom: 35px;
}
.padding-bottom-6 {
  padding-bottom: 30px;
}
.padding-bottom-5 {
  padding-bottom: 25px;
}
.padding-bottom-4 {
  padding-bottom: 20px;
}
.padding-bottom-3 {
  padding-bottom: 15px;
}
.padding-bottom-2 {
  padding-top: 10px;
}
.padding-bottom-1 {
  padding-bottom: 5px;
}

// padding left
.padding-left-10 {
  padding-left: 50px;
}
.padding-left-9 {
  padding-left: 45px;
}
.padding-left-8 {
  padding-left: 40px;
}
.padding-left-7 {
  padding-left: 35px;
}
.padding-left-6 {
  padding-left: 30px;
}
.padding-left-5 {
  padding-left: 25px;
}
.padding-left-4 {
  padding-left: 20px;
}
.padding-left-3 {
  padding-left: 15px;
}
.padding-left-2 {
  padding-left: 10px;
}
.padding-left-1 {
  padding-left: 5px;
}

// padding right
.padding-right-10 {
  padding-right: 50px;
}
.padding-right-9 {
  padding-right: 45px;
}
.padding-right-8 {
  padding-right: 40px;
}
.padding-right-7 {
  padding-right: 35px;
}
.padding-right-6 {
  padding-right: 30px;
}
.padding-right-5 {
  padding-right: 25px;
}
.padding-right-4 {
  padding-right: 20px;
}
.padding-right-3 {
  padding-right: 15px;
}
.padding-right-2 {
  padding-right: 10px;
}
.padding-right-1 {
  padding-bottom: 5px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left;
}

label {
  font-size: 12px;
}
.d-flex {
  display: flex;
}

input {
  width: 90%;
  border: solid 3px $grey;
  border-radius: 5px;
  height: 30px;
}
input:focus {
  outline: none !important;
  border: 3px solid $grey;
  border-radius: 5px;
}